*{
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}
.reg{
    display: inline-block;
    width: 30%;
    height: 150px;
    padding: 45px;
    padding-left: 0;

}
.btn-3{
    background-color: rgb(255, 0, 0);
    color: rgb(222, 135, 157);
    border-radius: 15px;
    width: 100px;
    height: 45px;
}
